@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;

  h1 {
    color: $header-color;
    font-family: $font-family-header;
    font-size: 44px;
    line-height: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    margin-top: 56px;
    margin-bottom: 46px;
  }

  h2 {
    color: $header-color;
    font-family: $font-family-header;
    font-size: 30px;
    line-height: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.Layout {
  margin: 0;
  padding: 0;

  .Content {
    max-width: $max-width;
    margin: 0px auto 0px auto;
    padding: 0 18px 0 18px;

    .Text {
      font-size: 18px;
      line-height: 34px;
      font-family: $font-family-text;
      color: $text-color;

      .strikethrough {
        text-decoration: line-through;
      }
    }
  }
}
