/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #ffffff;
$header-color: rgb(0, 0, 0);
$text-color: rgb(77, 77, 77);
$brand-color: #21ce99;
$nav-color: rgb(153, 153, 153);
$footer-color: $nav-color;

$max-width: 720px;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Helvetica', sans-serif;
$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-text: 'Droid Serif', Georgia, serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
