@import '../variables.scss';

.App-box {
  padding: 0 10px 0 10px;
  margin: 15px auto 15px auto;
  max-width: $max-width;
}

/*
Removed, see discussion: https://github.com/react-bootstrap/react-bootstrap/issues/1615

a:focus {
  outline: none !important;
}

.btn:focus {
  outline: none !important;
}

*/
